spring:
  application:
    name: job-application-automation-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/jaap
    username: jaap
    password: jaap
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
